export COGNITO_CLIENT_ID=2jobol77nrgs7gf571s9kgrcml
export COGNITO_CLIENT_SECRET=1uk5061i9tpvnj14f2cmcsppv18l0ghv2suiike3e4ao96slre3e
export COGNITO_ISSUER=https://cognito-idp.ap-southeast-1.amazonaws.com/ap-southeast-1_YzPXcxsbd
export NEXTAUTH_SECRET=rFTLlY6cN1e8BOAfydInxhvzmsEQwcB5fZ1//JFVzxg=